Repository ThomasLee94/grpc-react-example: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, cpplint, prettier

buildifier:
  name: Fix bazel BUILD files
  entry: buildifier
  language: system

cpplint:
  args:
  - --filter=-legal/copyright
  name: Lint C++ files
  entry: cpplint --quiet
  language: system

prettier:
  name: Fix JavaScript files
  entry: prettier --config ./prettier.config.js --write
  language: system

[add] proto file
  src/proto/battle_service.proto
  src/proto/battleship.proto
Due: none

[add] client
  battleship-client/.gitignore
  battleship-client/README.md
  battleship-client/babel.config.js
  battleship-client/package-lock.json
  battleship-client/package.json
  battleship-client/public/favicon.ico
  battleship-client/public/index.html
  battleship-client/src/App.vue
  battleship-client/src/assets/logo.png
  battleship-client/src/components/HelloWorld.vue
  battleship-client/src/main.js
  src/server.cc
Due: cpplint, prettier

[add] grid component
  battleship-client/src/App.vue
  battleship-client/src/components/Grid.vue
  battleship-client/src/components/HelloWorld.vue
Due: none

[WIP] display a grid
  battleship-client/src/components/Cells.vue
  battleship-client/src/components/Grid.vue
Due: none

[add] grpc server boilerplate
  battleship-client/src/App.vue
  src/proto/battle_service.proto
  src/server.cc
Due: cpplint

[add] client using react instead
  battleship-client/.gitignore
  battleship-client/README.md
  battleship-client/babel.config.js
  battleship-client/package-lock.json
  battleship-client/package.json
  battleship-client/public/favicon.ico
  battleship-client/public/index.html
  battleship-client/public/logo192.png
  battleship-client/public/logo512.png
  battleship-client/public/manifest.json
  battleship-client/public/robots.txt
  battleship-client/src/App.css
  battleship-client/src/App.js
  battleship-client/src/App.test.js
  battleship-client/src/App.vue
  battleship-client/src/Cell.css
  battleship-client/src/Cell.js
  battleship-client/src/Grid.css
  battleship-client/src/Grid.js
  battleship-client/src/assets/logo.png
  battleship-client/src/components/Cells.vue
  battleship-client/src/components/Grid.vue
  battleship-client/src/components/HelloWorld.vue
  battleship-client/src/index.css
  battleship-client/src/index.js
  battleship-client/src/logo.svg
  battleship-client/src/main.js
  battleship-client/src/serviceWorker.js
  battleship-client/src/setupTests.js
  battleship-client/yarn.lock
Due: prettier

[mv] dir
  client/.gitignore
  client/README.md
  client/package-lock.json
  client/package.json
  client/public/favicon.ico
  client/public/index.html
  client/public/logo192.png
  client/public/logo512.png
  client/public/manifest.json
  client/public/robots.txt
  client/src/App.css
  client/src/App.js
  client/src/App.test.js
  client/src/Cell.css
  client/src/Cell.js
  client/src/Grid.css
  client/src/Grid.js
  client/src/index.css
  client/src/index.js
  client/src/logo.svg
  client/src/serviceWorker.js
  client/src/setupTests.js
  client/yarn.lock
Due: prettier

[mv] battleship dir into src
  src/battleship_game/BUILD
  src/battleship_game/board.cc
  src/battleship_game/board.h
  src/battleship_game/game.cc
  src/battleship_game/game.h
  src/battleship_game/main.cc
  src/battleship_game/player.cc
  src/battleship_game/player.h
  src/battleship_game/random.cc
  src/battleship_game/random.h
  src/battleship_game/random.txt
  src/battleship_game/ship.cc
  src/battleship_game/ship.h
Due: buildifier, cpplint

[add] working server that runs game instance
  src/battleship_game/game.cc
  src/battleship_game/game.h
  src/battleship_game/player.cc
  src/battleship_service/BUILD
  src/battleship_service/battleship_service.cc
  src/battleship_service/battleship_service.h
  src/battleship_service/proto/BUILD
  src/battleship_service/proto/battle_service.proto
  src/battleship_service/server.cc
  src/server.cc
Due: buildifier, cpplint

[add] proto BUILD
  src/battleship_service/battleship_service.h
  src/battleship_service/proto/BUILD
Due: buildifier, cpplint

[fix] proto build
  src/battleship_service/battleship_service.h
  src/battleship_service/proto/BUILD
Due: buildifier, cpplint

[add] proto files
  src/battleship_service/proto/battle_service.proto
  src/battleship_service/proto/game.proto
  src/battleship_service/proto/player.proto
  src/battleship_service/proto/ship.proto
Due: none

[add] battle ship service
  src/battleship_service/battleship_service.h
  src/battleship_service/proto/game.proto
  src/battleship_service/proto/player.proto
  src/battleship_service/proto/services.proto
  src/battleship_service/proto/ship.proto
Due: cpplint

[add] unary service cc
  src/battleship_service/battleship_service.cc
  src/util/status_macros.h
Due: cpplint

[fix] server.cc and other deps
  src/battleship_service/BUILD
  src/battleship_service/battleship_service_impl.cc
  src/battleship_service/battleship_service_impl.h
  src/battleship_service/proto/BUILD
  src/battleship_service/proto/services.proto
  src/battleship_service/server.cc
Due: buildifier, cpplint

[add] status macros
  src/util/BUILD
  src/util/status_macros.cc
  src/util/status_macros.h
  src/util/status_or.h
Due: buildifier, cpplint

[fix] WORKSPACE for necessary deps
  WORKSPACE
Due: buildifier

[add] grpc cli install script
  src/util/install_grpc_cli.sh
Due: none

[add] readme
  src/util/README.md
Due: none

[add] bash flag for deb install
  src/util/install_grpc_cli.sh
Due: none

[add] hello world
  src/helloworld/.gitignore
  src/helloworld/README.md
  src/helloworld/client.js
  src/helloworld/envoy.Dockerfile
  src/helloworld/envoy.yaml
  src/helloworld/helloworld.proto
  src/helloworld/index.html
  src/helloworld/node-client.js
  src/helloworld/package.json
  src/helloworld/server.js
Due: prettier

[add] docker compose
  src/helloworld/docker-compose.yml
  src/helloworld/package.json
Due: none

[add] Makefile for Server Reflection (grpc_cli)
  src/battleship_service/Makefile
Due: none

[fix] protoc command
  src/helloworld/README.md
  src/helloworld/package.json
Due: none

[update] docs
  src/helloworld/README.md
Due: none

[add] grpc reflection
  src/battleship_service/BUILD
Due: buildifier

[add] protoc & grpc-web install script
  src/helloworld/install_grpc_js_deps.sh
  src/helloworld/protoc-gen-grpc-web
Due: none

[add] tash
  .gitignore
  battleships/.battleship.h.swn
  tash/.gitignore
  tash/.pre-commit-config.yaml
  tash/CODEOWNERS
  tash/README.md
  tash/setup.sh
  tash/src/args.sh
  tash/src/assert.sh
  tash/src/default_args.sh
  tash/src/logging.sh
  tash/src/version_compatibility.sh
  tash/tash.sh
Due: none

[add] tash
  tash/.gitignore
  tash/.pre-commit-config.yaml
  tash/CODEOWNERS
  tash/README.md
  tash/setup.sh
  tash/src/args.sh
  tash/src/assert.sh
  tash/src/default_args.sh
  tash/src/logging.sh
  tash/src/version_compatibility.sh
  tash/tash.sh
Due: none

[rm] tash local executables, not working with current build
  .gitignore
  src/helloworld/install_grpc_js_deps.sh
Due: none

[fix] script, again
  battleships/.battleship.h.swn
  src/helloworld/include/google/protobuf/any.proto
  src/helloworld/include/google/protobuf/api.proto
  src/helloworld/include/google/protobuf/compiler/plugin.proto
  src/helloworld/include/google/protobuf/descriptor.proto
  src/helloworld/include/google/protobuf/duration.proto
  src/helloworld/include/google/protobuf/empty.proto
  src/helloworld/include/google/protobuf/field_mask.proto
  src/helloworld/include/google/protobuf/source_context.proto
  src/helloworld/include/google/protobuf/struct.proto
  src/helloworld/include/google/protobuf/timestamp.proto
  src/helloworld/include/google/protobuf/type.proto
  src/helloworld/include/google/protobuf/wrappers.proto
  src/helloworld/install_grpc_js_deps.sh
  src/helloworld/protoc.zip
  src/helloworld/readme.txt
Due: none

Update README.md
  src/helloworld/README.md
Due: none

[fix] docker image version
  src/helloworld/envoy.Dockerfile
Due: none

Path conditions:
  buildifier: any of: WORKSPACE|(BUILD$)|(\.bzl$)
  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  prettier: any of: \.(js|mjs|cjs)$
