Repository ThomasLee94/grpc-react-example: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, cpplint, prettier

buildifier:
  name: Fix bazel BUILD files
  entry: buildifier
  language: system

cpplint:
  args:
  - --filter=-legal/copyright
  name: Lint C++ files
  entry: cpplint --quiet
  language: system

prettier:
  name: Fix JavaScript files
  entry: prettier --config ./prettier.config.js --write
  language: system

[add] react app example
  src/grpc-web-examples/grpc/.gitignore
  src/grpc-web-examples/grpc/README.md
  src/grpc-web-examples/grpc/package-lock.json
  src/grpc-web-examples/grpc/package.json
  src/grpc-web-examples/grpc/public/favicon.ico
  src/grpc-web-examples/grpc/public/index.html
  src/grpc-web-examples/grpc/public/logo192.png
  src/grpc-web-examples/grpc/public/logo512.png
  src/grpc-web-examples/grpc/public/manifest.json
  src/grpc-web-examples/grpc/public/robots.txt
  src/grpc-web-examples/grpc/src/App.css
  src/grpc-web-examples/grpc/src/App.js
  src/grpc-web-examples/grpc/src/App.test.js
  src/grpc-web-examples/grpc/src/index.css
  src/grpc-web-examples/grpc/src/index.js
  src/grpc-web-examples/grpc/src/logo.svg
  src/grpc-web-examples/grpc/src/serviceWorker.js
  src/grpc-web-examples/grpc/src/setupTests.js
Due: prettier

[add] resources
  src/grpc-web-examples/grpc/README.md
Due: none

[add] .proto
  src/grpc-web-examples/grpc/helloworld.proto
  src/grpc-web-examples/grpc/package-lock.json
  src/grpc-web-examples/grpc/package.json
Due: none

[add] generated pb files
  src/grpc-web-examples/grpc/src/helloworld.proto
  src/grpc-web-examples/grpc/src/helloworld_grpc_web_pb.js
  src/grpc-web-examples/grpc/src/helloworld_pb.js
Due: prettier

[add] component
  src/grpc-web-examples/grpc/src/components/component.jsx
Due: none

[fix] app.js
  src/grpc-web-examples/grpc/src/App.js
  src/grpc-web-examples/grpc/src/components/component.jsx
Due: prettier

[fix] proto
  src/grpc-web-examples/grpc/helloworld.proto
  src/grpc-web-examples/grpc/src/helloworld.proto
Due: none

[fix] pb files
  src/grpc-web-examples/grpc/src/helloworld.proto
  src/grpc-web-examples/grpc/src/helloworld_grpc_web_pb.js
  src/grpc-web-examples/grpc/src/helloworld_pb.js
Due: prettier

[WIP] working react example, but not showing what I want
  src/grpc-web-examples/grpc-react/.gitignore
  src/grpc-web-examples/grpc-react/LICENSE
  src/grpc-web-examples/grpc-react/README.md
  src/grpc-web-examples/grpc-react/client.js
  src/grpc-web-examples/grpc-react/client/components/app.jsx
  src/grpc-web-examples/grpc-react/envoy.Dockerfile
  src/grpc-web-examples/grpc-react/envoy.yaml
  src/grpc-web-examples/grpc-react/helloworld.proto
  src/grpc-web-examples/grpc-react/helloworld_grpc_web_pb.js
  src/grpc-web-examples/grpc-react/helloworld_pb.js
  src/grpc-web-examples/grpc-react/node-client.js
  src/grpc-web-examples/grpc-react/package-lock.json
  src/grpc-web-examples/grpc-react/package.json
  src/grpc-web-examples/grpc-react/server.js
  src/grpc-web-examples/grpc-react/webpack.config.js
Due: prettier

[rm] dir
  src/grpc-web-examples/grpc/.gitignore
  src/grpc-web-examples/grpc/README.md
  src/grpc-web-examples/grpc/package-lock.json
  src/grpc-web-examples/grpc/package.json
  src/grpc-web-examples/grpc/public/favicon.ico
  src/grpc-web-examples/grpc/public/index.html
  src/grpc-web-examples/grpc/public/logo192.png
  src/grpc-web-examples/grpc/public/logo512.png
  src/grpc-web-examples/grpc/public/manifest.json
  src/grpc-web-examples/grpc/public/robots.txt
  src/grpc-web-examples/grpc/src/App.css
  src/grpc-web-examples/grpc/src/App.js
  src/grpc-web-examples/grpc/src/App.test.js
  src/grpc-web-examples/grpc/src/helloworld.proto
  src/grpc-web-examples/grpc/src/helloworld_grpc_web_pb.js
  src/grpc-web-examples/grpc/src/helloworld_pb.js
  src/grpc-web-examples/grpc/src/index.css
  src/grpc-web-examples/grpc/src/index.js
  src/grpc-web-examples/grpc/src/logo.svg
  src/grpc-web-examples/grpc/src/serviceWorker.js
  src/grpc-web-examples/grpc/src/setupTests.js
Due: prettier

[update] readme
  src/grpc-web-examples/grpc-react/README.md
Due: none

[add] boilerplate for react example
  src/grpc-web-examples/grpc-react/.gitignore
  src/grpc-web-examples/grpc-react/LICENSE
  src/grpc-web-examples/grpc-react/README.md
  src/grpc-web-examples/grpc-react/client.js
  src/grpc-web-examples/grpc-react/client/components/app.jsx
  src/grpc-web-examples/grpc-react/envoy.Dockerfile
  src/grpc-web-examples/grpc-react/envoy.yaml
  src/grpc-web-examples/grpc-react/helloworld.proto
  src/grpc-web-examples/grpc-react/helloworld_grpc_web_pb.js
  src/grpc-web-examples/grpc-react/helloworld_pb.js
  src/grpc-web-examples/grpc-react/node-client.js
  src/grpc-web-examples/grpc-react/package-lock.json
  src/grpc-web-examples/grpc-react/package.json
  src/grpc-web-examples/grpc-react/server.js
  src/grpc-web-examples/grpc-react/webpack.config.js
  src/grpc-web-examples/grpc_react/client/.gitignore
  src/grpc-web-examples/grpc_react/client/README.md
  src/grpc-web-examples/grpc_react/client/package-lock.json
  src/grpc-web-examples/grpc_react/client/package.json
  src/grpc-web-examples/grpc_react/client/public/favicon.ico
  src/grpc-web-examples/grpc_react/client/public/index.html
  src/grpc-web-examples/grpc_react/client/public/logo192.png
  src/grpc-web-examples/grpc_react/client/public/logo512.png
  src/grpc-web-examples/grpc_react/client/public/manifest.json
  src/grpc-web-examples/grpc_react/client/public/robots.txt
  src/grpc-web-examples/grpc_react/client/src/App.css
  src/grpc-web-examples/grpc_react/client/src/App.js
  src/grpc-web-examples/grpc_react/client/src/App.test.js
  src/grpc-web-examples/grpc_react/client/src/index.css
  src/grpc-web-examples/grpc_react/client/src/index.js
  src/grpc-web-examples/grpc_react/client/src/logo.svg
  src/grpc-web-examples/grpc_react/client/src/serviceWorker.js
  src/grpc-web-examples/grpc_react/client/src/setupTests.js
  src/grpc-web-examples/grpc_react/client/yarn.lock
  src/grpc-web-examples/grpc_react/proto/echo.proto
  src/grpc-web-examples/grpc_react/server/BUILD
  src/grpc-web-examples/grpc_react/server/echo_server.cc
  src/grpc-web-examples/grpc_react/server/echo_service_impl.cc
  src/grpc-web-examples/grpc_react/server/echo_service_impl.h
Due: buildifier, cpplint, prettier

[fix] builds
  src/grpc-web-examples/grpc_react/server/BUILD
  src/grpc-web-examples/grpc_react/server/proto/BUILD
  src/grpc-web-examples/grpc_react/server/proto/echo.proto
Due: buildifier

[add] envoy yml
  src/grpc-web-examples/grpc_react/server/envoy.yml
Due: none

[add] envoy docker file
  src/grpc-web-examples/grpc_react/server/envoy.Dockerfile
Due: none

[WIP] builds and readme
  src/grpc-web-examples/grpc_react/server/BUILD
  src/grpc-web-examples/grpc_react/server/proto/BUILD
  src/grpc-web-examples/grpc_react/server/proto/echo.proto
Due: buildifier

[WIP] generate stubs script
  src/grpc-web-examples/grpc_react/client/README.md
  src/grpc-web-examples/grpc_react/client/generate_stubs.sh
Due: none

[add] script to generate stubs
  src/grpc-web-examples/grpc_react/client/generate_stubs.sh
  src/grpc-web-examples/grpc_react/client/generated/src/echo_grpc_web_pb.js
  src/grpc-web-examples/grpc_react/client/generated/src/echo_pb.js
Due: prettier

[add] readme
  src/grpc-web-examples/grpc_react/server/README.md
Due: none

[WIP] c++ stubs
  src/grpc-web-examples/grpc_react/server/README.md
Due: none

[add] generated c++ stubs
  src/grpc-web-examples/grpc_react/server/generate_stub.sh
  src/grpc-web-examples/grpc_react/server/generated/echo.pb.cc
  src/grpc-web-examples/grpc_react/server/generated/echo.pb.h
Due: cpplint

[WIP] generate grpc stub
  src/grpc-web-examples/grpc_react/server/echo_server.cc
  src/grpc-web-examples/grpc_react/server/echo_service_impl.cc
  src/grpc-web-examples/grpc_react/server/echo_service_impl.h
  src/grpc-web-examples/grpc_react/server/generate_stub.sh
Due: cpplint

[WIP] fix protoc install, not moving include/
  src/grpc-web-examples/helloworld/install_grpc_js_deps.sh
Due: none

[fix] no need to generate/install manually, bazel does it for yougit add .git add .
  src/grpc-web-examples/grpc_react/server/echo_server.cc
  src/grpc-web-examples/grpc_react/server/echo_service_impl.cc
  src/grpc-web-examples/grpc_react/server/echo_service_impl.h
  src/grpc-web-examples/grpc_react/server/generate_stub.sh
  src/grpc-web-examples/grpc_react/server/generated/echo.pb.cc
  src/grpc-web-examples/grpc_react/server/generated/echo.pb.h
Due: cpplint

[rm] node from server
  src/grpc-web-examples/grpc_react/server/package-lock.json
Due: none

[rm] unecessary files
  src/grpc-web-examples/grpc_react/server/generate_stub.sh
Due: none

:p
  src/grpc-web-examples/grpc_react/client/README.md
  src/grpc-web-examples/grpc_react/client/generate_stubs.sh
  src/grpc-web-examples/grpc_react/client/package-lock.json
  src/grpc-web-examples/grpc_react/client/package.json
  src/grpc-web-examples/grpc_react/client/scripts/generate_stubs.sh
  src/grpc-web-examples/grpc_react/client/scripts/setup.sh
Due: none

[rm] unecessary dir
  src/grpc-web-examples/grpc_react/server/generated/echo.pb.cc
  src/grpc-web-examples/grpc_react/server/generated/echo.pb.h
Due: cpplint

[rm] resources
  src/grpc-web-examples/grpc_react/server/README.md
Due: none

[add] command
  src/grpc-web-examples/grpc_react/server/README.md
Due: none

[rm] ll
  linkedlist/BUILD
  linkedlist/linkedlist.cc
  linkedlist/linkedlist.h
  linkedlist/main.cc
  linkedlist/node.h
Due: buildifier, cpplint

[add] echo service
  src/grpc-web-examples/grpc_react/client/src/App.js
  src/grpc-web-examples/grpc_react/client/src/service/EchoService.js
  src/grpc-web-examples/grpc_react/client/src/service/index.js
Due: prettier

[add] components
  src/grpc-web-examples/grpc_react/client/package-lock.json
  src/grpc-web-examples/grpc_react/client/package.json
  src/grpc-web-examples/grpc_react/client/src/App.js
  src/grpc-web-examples/grpc_react/client/src/service/EchoService.js
  src/grpc-web-examples/grpc_react/client/src/ui/components/Cell.css
  src/grpc-web-examples/grpc_react/client/src/ui/components/Cell.js
  src/grpc-web-examples/grpc_react/client/src/ui/components/Grid.css
  src/grpc-web-examples/grpc_react/client/src/ui/components/Grid.js
  src/grpc-web-examples/grpc_react/client/src/ui/index.js
Due: prettier

[fix] imports
  src/grpc-web-examples/grpc_react/client/src/App.js
  src/grpc-web-examples/grpc_react/client/src/service/EchoService.js
Due: prettier

[WIP] trying to get protobufs to work with react
  src/grpc-web-examples/grpc_react/client/generated/src/echo_pb.js
  src/grpc-web-examples/grpc_react/client/package-lock.json
  src/grpc-web-examples/grpc_react/client/package.json
  src/grpc-web-examples/grpc_react/client/scripts/generate_stubs.sh
  src/grpc-web-examples/grpc_react/client/src/App.js
  src/grpc-web-examples/grpc_react/client/src/generated/src/echo.ts
  src/grpc-web-examples/grpc_react/client/src/generated/src/echo_grpc_web_pb.js
  src/grpc-web-examples/grpc_react/client/src/react-app-env.d.ts
  src/grpc-web-examples/grpc_react/client/src/service/EchoService.js
  src/grpc-web-examples/grpc_react/client/tsconfig.json
Due: prettier

[add] dockerfiles
  src/grpc-web-examples/helloworld/docker-compose.yml
  src/grpc-web-examples/helloworld/docker/common/Dockerfile
  src/grpc-web-examples/helloworld/docker/commonjs_client/Dockerfile
  src/grpc-web-examples/helloworld/docker/envoy/envoy.Dockerfile
  src/grpc-web-examples/helloworld/docker/node_server/Dockerfile
  src/grpc-web-examples/helloworld/include/google/protobuf/any.proto
  src/grpc-web-examples/helloworld/include/google/protobuf/api.proto
  src/grpc-web-examples/helloworld/include/google/protobuf/compiler/plugin.proto
  src/grpc-web-examples/helloworld/include/google/protobuf/descriptor.proto
  src/grpc-web-examples/helloworld/include/google/protobuf/duration.proto
  src/grpc-web-examples/helloworld/include/google/protobuf/empty.proto
  src/grpc-web-examples/helloworld/include/google/protobuf/field_mask.proto
  src/grpc-web-examples/helloworld/include/google/protobuf/source_context.proto
  src/grpc-web-examples/helloworld/include/google/protobuf/struct.proto
  src/grpc-web-examples/helloworld/include/google/protobuf/timestamp.proto
  src/grpc-web-examples/helloworld/include/google/protobuf/type.proto
  src/grpc-web-examples/helloworld/include/google/protobuf/wrappers.proto
Due: none

fixes
  src/grpc-web-examples/helloworld/README.md
  src/grpc-web-examples/helloworld/docker/commonjs_client/Dockerfile
  src/grpc-web-examples/helloworld/docker/docker-compose.yml
  src/grpc-web-examples/helloworld/docker/envoy.yaml
  src/grpc-web-examples/helloworld/proto/helloworld.proto
Due: none

[add] fixes
  src/grpc-web-examples/helloworld/README.md
  src/grpc-web-examples/helloworld/client.js
  src/grpc-web-examples/helloworld/server.js
Due: prettier

Path conditions:
  buildifier: any of: WORKSPACE|(BUILD$)|(\.bzl$)
  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  prettier: any of: \.(js|mjs|cjs)$
