Repository ThomasLee94/grpc-react-example: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, cpplint, prettier

buildifier:
  name: Fix bazel BUILD files
  entry: buildifier
  language: system

cpplint:
  args:
  - --filter=-legal/copyright
  name: Lint C++ files
  entry: cpplint --quiet
  language: system

prettier:
  name: Fix JavaScript files
  entry: prettier --config ./prettier.config.js --write
  language: system

[test] c++/grpc with vanilla js
  src/grpc-web-examples/grpc_js/.gitignore
  src/grpc-web-examples/grpc_js/README.md
  src/grpc-web-examples/grpc_js/client.js
  src/grpc-web-examples/grpc_js/docker/common/Dockerfile
  src/grpc-web-examples/grpc_js/docker/commonjs_client/Dockerfile
  src/grpc-web-examples/grpc_js/docker/docker-compose.yml
  src/grpc-web-examples/grpc_js/docker/envoy.yaml
  src/grpc-web-examples/grpc_js/docker/envoy/envoy.Dockerfile
  src/grpc-web-examples/grpc_js/docker/node_server/Dockerfile
  src/grpc-web-examples/grpc_js/index.html
  src/grpc-web-examples/grpc_js/node-client.js
  src/grpc-web-examples/grpc_js/package.json
  src/grpc-web-examples/grpc_js/proto/helloworld.proto
  src/grpc-web-examples/grpc_js/readme.txt
  src/grpc-web-examples/grpc_js/server.js
Due: prettier

[add] cpp/grpc server
  src/grpc-web-examples/grpc_js/server/.gitignore
  src/grpc-web-examples/grpc_js/server/BUILD
  src/grpc-web-examples/grpc_js/server/README.md
  src/grpc-web-examples/grpc_js/server/echo_server.cc
  src/grpc-web-examples/grpc_js/server/echo_service_impl.cc
  src/grpc-web-examples/grpc_js/server/echo_service_impl.h
  src/grpc-web-examples/grpc_js/server/envoy.Dockerfile
  src/grpc-web-examples/grpc_js/server/envoy.yml
  src/grpc-web-examples/grpc_js/server/proto/BUILD
  src/grpc-web-examples/grpc_js/server/proto/echo.proto
Due: buildifier, cpplint

[update] docs
  src/grpc-web-examples/grpc_js/README.md
Due: none

[add] scripts
  src/grpc-web-examples/grpc_js/scripts/generate_stubs.sh
  src/grpc-web-examples/grpc_js/scripts/setup.sh
Due: none

scripts work
  src/grpc-web-examples/grpc_js/generated/echorequest.js
  src/grpc-web-examples/grpc_js/generated/echoresponse.js
  src/grpc-web-examples/grpc_js/package.json
  src/grpc-web-examples/grpc_js/proto/helloworld.proto
  src/grpc-web-examples/grpc_js/scripts/generate_stubs.sh
  src/grpc-web-examples/grpc_js/scripts/setup.sh
Due: prettier

old stub output
  src/grpc-web-examples/grpc_js/scripts/generate_stubs.sh
Due: none

old stubs
  src/grpc-web-examples/grpc_js/generated/echorequest.js
  src/grpc-web-examples/grpc_js/generated/echoresponse.js
Due: prettier

[rm] node server
  src/grpc-web-examples/grpc_js/server.js
Due: prettier

[add] echo app & html
  src/grpc-web-examples/grpc_js/client.js
  src/grpc-web-examples/grpc_js/deprecated/client.js
  src/grpc-web-examples/grpc_js/deprecated/index.html
  src/grpc-web-examples/grpc_js/deprecated/node-client.js
  src/grpc-web-examples/grpc_js/echoapp.js
  src/grpc-web-examples/grpc_js/echohtml.html
  src/grpc-web-examples/grpc_js/envoy.yaml
Due: prettier

[WIP] client docker file
  src/grpc-web-examples/grpc_js/docker/commonjs_client/Dockerfile
Due: none

[rm] node server
  src/grpc-web-examples/grpc_js/docker/node_server/Dockerfile
Due: none

[update] readme
  src/grpc-web-examples/grpc_js/README.md
Due: none

[WIP] docker commands
  src/grpc-web-examples/grpc_js/README.md
  src/grpc-web-examples/grpc_js/docker/common/Dockerfile
  src/grpc-web-examples/grpc_js/docker/cpp_grpc_server/Dockerfile
Due: none

changes
  src/grpc-web-examples/grpc_js/README.md
  src/grpc-web-examples/grpc_js/server/BUILD
  src/grpc-web-examples/grpc_js/server/Dockerfile
  src/grpc-web-examples/grpc_js/server/echo_server.cc
  src/grpc-web-examples/grpc_js/server/echo_service_impl.cc
  src/grpc-web-examples/grpc_js/server/envoy.yaml
  src/grpc-web-examples/grpc_react/client/scripts/generate_stubs.sh
  src/grpc-web-examples/grpc_react/client/src/App.js
  src/grpc-web-examples/grpc_react/client/src/generated/src/echo.ts
  src/grpc-web-examples/grpc_react/client/src/generated/src/echo_grpc_web_pb.js
  src/grpc-web-examples/grpc_react/client/src/generated/src/echo_pb.js
  src/grpc-web-examples/grpc_react/client/src/service/EchoService.js
Due: buildifier, cpplint, prettier

[add] docker rules
  WORKSPACE
Due: buildifier

[fix] docs and scripts
  src/grpc-web-examples/grpc_react/client/README.md
  src/grpc-web-examples/grpc_react/server/README.md
  src/grpc-web-examples/grpc_react/server/envoy/Dockerfile
  src/grpc-web-examples/grpc_react/server/envoy/envoy.Dockerfile
  src/grpc-web-examples/grpc_react/server/envoy/envoy.yaml
  src/grpc-web-examples/grpc_react/server/envoy/envoy.yml
  src/grpc-web-examples/grpc_react/server/run_envoy.sh
Due: none

Update README.md
  src/grpc-web-examples/grpc_react/client/README.md
Due: none

[update] readme
  src/grpc-web-examples/grpc_react/client/README.md
Due: none

[fix] scripts
  client/scripts/generate_stubs.sh
  server/run_envoy.sh
Due: none

fixes
  .pre-commit-config.yaml
  client/src/App.js
  server/BUILD
  server/echo_server.cc
  server/echo_service_impl.cc
  server/echo_service_impl.h
Due: buildifier, cpplint, prettier

[add] deployment resources
  client/README.md
Due: none

[add] client docker image
  client/.dockerignore
  client/Dockerfile
Due: none

[fix] docker
  client/Dockerfile
  server/BUILD
  server/docker/BUILD
Due: buildifier

[fix] configs for deployment
  WORKSPACE
  client/Dockerfile
  infra/server/deployment.yaml
  infra/server/service.yaml
  server/BUILD
  server/docker/images/BUILD
  server/docker/layers/grpc_health_client/BUILD
  server/docker/layers/grpc_health_client/grpc_health_client.cc
  server/echo_server.cc
  server/util/BUILD
  server/util/flags.cc
  server/util/flags.h
Due: buildifier, cpplint

[add] deployment docs
  deployment.md
Due: none

[update] deployment docs
  deployment.md
Due: none

[add] health check service
  server/echo_server.cc
Due: cpplint

Update deployment.md
  deployment.md
Due: none

[fix] enable health service
  server/echo_server.cc
Due: cpplint

[add] edge envoy deployment files & image:
  server/echo_server.cc
  server/edge_envoy/BUILD
  server/edge_envoy/deployment.yaml
Due: buildifier, cpplint

[add] comment
  server/run_envoy.sh
Due: none

[add] docker images
  WORKSPACE
Due: buildifier

[fix] envoy version
  WORKSPACE
Due: buildifier

[add] envoy yaml
  server/edge_envoy/envoy.yaml
Due: none

Path conditions:
  buildifier: any of: WORKSPACE|(BUILD$)|(\.bzl$)
  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  prettier: any of: \.(js|mjs|cjs)$
